
<div class="control-section" >
  <ejs-treegrid  
  #treegrid
  allowFiltering='true'
  [dataSource]='data'
  allowPaging='true'
  childMapping='subtasks'
  height='90%'
  [treeColumnIndex]='1' 
  [showColumnChooser]='true'
  [toolbar]="toolbarOptions" 
  [pageSettings]='pageSettings'
  [filterSettings]='filterSettings'
  allowSorting='true'
  [sortSettings]='sortSettings'
  allowReordering='true'
  [editSettings]='editing'
  [contextMenuItems]="contextMenuItems"
  (contextMenuClick)="contextMenuClick($event)"
  [allowRowDragAndDrop]='true'
  [selectionSettings]='selectOptions'
  [allowSelection]='true'
  (contextMenuOpen)="contextMenuOpen($event)"
  allowTextWrap='false' 
  [frozenColumns]='columnFrozen'
  [allowResizing]='true' 
  (rowDataBound)='rowBound($event)' 
  >
  <e-columns    >
      <e-column *ngFor="let column of columns; let i = index;" 
                [field]="column.field"
                [headerText]='column.headerText'
                [fontSize]='column.fontSize'
                [fontColor]='column.fontColor'
                [type]='column.dataType'
                [backgroundColor]='column.bgColor'
                [width]='column.width' 
                [textAlign]='column.textAlign'
                [format]="column.format"
                [id]='i'
                [isPrimaryKey]='i==0? true:false'
                minWidth= 200
                >   
                <ng-template #headerTemplate >
                  <div [ngStyle]="{background:column.bgColor,color:column.fontColor,textAlign:column.textAlign,width:column.width+'px',fontSize:column.fontSize+'px'}">
                  {{column.headerText}}
                </div>
                  </ng-template>
      </e-column>
      <!-- <ng-template #rowTemplate let-data>
        <tr>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
              {{data.taskID}}
          </td>
          <td  class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
                {{data.taskName}}
           
          </td>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
            {{data.startDate}}
          </td>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
            {{data.endDate}}
          </td>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
            {{data.progress}}
          </td>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
            {{data.duration}}
          </td>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
            {{data.priority}}
          </td>
          <td class="border" style='margin:18px;min-width: 100px;height:50px; text-align: center;'>
            {{data.approved}}
          </td>
  </tr>
      </ng-template> -->

  </e-columns>
  </ejs-treegrid>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Header Text*</label>
        <div class="input-group">
          <input  class="form-control" placeholder="Enter Name field"  [(ngModel)]="modalData.headerText"  name="headerText"  required>
        </div>
      </div>
      <div class="form-group"  *ngIf="modalData.id == ''">
        <label for="dateOfBirth">Field Name*</label>
        <div class="input-group">
          <input  class="form-control" placeholder="Enter Name field"  [(ngModel)]="modalData.field"  name="field"  required>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Width</label>
        <div class="input-group">
          <input  class="form-control" placeholder="Enter width"  [(ngModel)]="modalData.width"  name="width"  required>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Data Type</label>
        <div class="input-group">
          <div class="input-group">
            <select class="form-control" [(ngModel)]="modalData.dataType" name="dataType">
              <option selected >Select DataType</option>
              <option value="string">Text</option>
              <option value="number">Enum</option>
              <option value="yMd">Date</option>
              <option value="boolean">Boolean</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">BackGround Color</label>
        <div class="input-group">
          <input type="color" class="form-control" placeholder="Select Color"  [(ngModel)]="modalData.bgColor"  name="bgColor"  required>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Font Size</label>
        <div class="input-group">
          <input  class="form-control" placeholder="Enter Font Size"  [(ngModel)]="modalData.fontSize"  name="fontSize"  required>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Font Color</label>
        <div class="input-group">
          <input type="color" class="form-control" placeholder="Select Font Color"  [(ngModel)]="modalData.fontColor"  name="fontColor"  required>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">TextAlign</label>
        <div class="input-group">
          <select class="form-control" [(ngModel)]="modalData.textAlign" name='textAlign'>
            <option selected  >Select DataType</option>
            <option value="Right" >Right</option>
            <option value="Left">Left</option>
            <option value="Center">Center</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveData()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">cancel</button>
  </div>
</ng-template>




